<%- include('../components_adm/header.ejs') %>


<div class="section" style="
width: 100%;
height: 100vh;
background-color:white;
">
<br><br><br><br><br>
<div class="box" style="
width :90%;
margin: 0 auto;
">
    <div class="card mb-3">
        <img src="/images/<%= data.thumbnail %>" class="card-img-top" style="width:100%;height:100%;">
        <div class="card-body">
         
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div> <br>
      <h4 class="card-title"><%= data.title %></h4>
     
<h5>&nbsp;&nbsp;RP.&nbsp;<%= data.price %> </h5><%= data.discount %>
<div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Lebih Banyak
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <%= data.description %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom" id="buybtn" style="
width: 27%;
height: 13vh;
margin: 0 auto;
">
<div id="buybtnchl" style="width: 60%;  padding:10px;border-radius:12px;height:auto; box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;">
  <a href="/admin/dashboard/del/<%= data.id %>" class="btn btn-sm" style="border:1px solid black;">
    <i class="bi bi-trash2"></i> Hapus
</a> 
 
<a  class="btn btn-sm btn-danger">
    <i class="bi bi-pen"></i>Edit
</a>
  </div>
</div>
</div>

<%- include('../components_adm/footer.ejs') %>
