<%- include('../components_adm/header.ejs') %>
<style>
    #container{
        width: 100% !important;
    }
    #nav2{
        position: fixed;
    }
</style>
<br><br>

<section class="container">
    <a href="/admin/dashboard/product/new" class="btn btn-danger">Tambah Menu</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
 <br><br>
 <p class="d-inline-flex gap-1">
    <a class="btn btn" style="border : 1px solid gray;" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Makanan</a>
    <button class="btn btn" style="border : 1px solid gray;" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Minuman</button>
    <button class="btn btn" style="border : 1px solid gray;"type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Lihat Semua</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Menu</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Total Penjualan</th>
                    <th scope="col">Opsi</th>
                  </tr>
                </thead>
                <tbody>
                  <% let num = 1; %>
                <% makanan.forEach(e => { %>
                  <tr>
                    <th scope="row"><%= num++ %></th>
                    <td><%= e.title %></td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                      <a class="btn btn-sm" style="border:0.5px solid gray" href="/admin/product/detail/<%= e.id %>">Lainya</a>
                    </td>
                  </tr>
                <% }) %>
                </tbody>
              </table>
              
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Menu</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Total Penjualan</th>
                    <th scope="col">Opsi</th>
                  </tr>
                </thead>
                <tbody>
                  <% let n = 1; %>
                  <% minuman.forEach(e => { %>
                    <tr>
                      <th scope="row"><%= n++ %></th>
                      <td><%= e.title %></td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>
                        <a class="btn btn-sm" style="border:0.5px solid gray" href="/admin/product/detail/<%= e.id %>">Lainya</a>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../components_adm/footer.ejs') %>