
<%- include('../components/header.ejs') %>

<div class="section" style="
width: 100%;
height: 100vh;
background-color:white;
">
<br><br><br><br><br>
<div class="box" style="
width :90%;
margin: 0 auto;
">
    <div class="card mb-3" style="width:50%;height:50%;margin:0 auto;">
        <img src="<%= qrcode %>"" class="card-img-top" style="width:100%;height:100%;">
        <div class="card-body">
         
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div> <br>

     
<h5>&nbsp;&nbsp;Total RP.&nbsp;<%= price %></h5>
<div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Lihat Cara Bayar
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <ol>
                <li>
                  Cari kasir atau tempat pembayaran(qr scanner)
                </li>
                <li>
                    tunjukan kode QR Tersebut
                </li>
                <li>
                   bayar Rp.
                </li>
                <li>
                    lalu konfirmasi pembayaran dan selesai
                </li>
            </ol>
        </div>
      </div>
    </div>
  </div>

<br>
<h6>Detail Pesanan</h6>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Menu</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Harga satuan</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= data.title %></td>
        <td><%= waranty %></td>
        <td><%= swaranty %></td>
        <td><%= price %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="fixed-bottom" id="buybtn" style="
width: 27%;
height: 13vh;
margin: 0 auto;
">
<div id="buybtnchl" style="width: 70%;  padding:10px;border-radius:12px;height:auto; box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;">
<a class="btn btn-sm" style="border:1px solid black;">
  <i class="bi bi-cart"></i> Kembali Ke Beranda
</a>  
<div href="" id="downloadQrBtn" class="btn btn-sm btn-danger">
  <i class="bi bi-bag"></i>Unduh QRCODE
</div>
  </div>
</div>
</div>

<%- include('../components/footer.ejs') %>
<script>
    document.getElementById('downloadQrBtn').addEventListener('click', function() {
      // Ganti 'qrcode' dengan variabel yang menyimpan tautan gambar QR
      var qrcodeUrl = '<%= qrcode %>';
      
      // Buat elemen <a> untuk mengunduh
      var downloadLink = document.createElement('a');
      downloadLink.href = qrcodeUrl;
      downloadLink.download = 'qrcode.png'; // Nama file yang akan diunduh
  
      // Tambahkan elemen ke dalam dokumen dan pemicu klik
      document.body.appendChild(downloadLink);
      downloadLink.click();
  
      // Hapus elemen setelah proses pengunduhan selesai
      document.body.removeChild(downloadLink);
    });
  </script>